$color_1: rgb(85, 85, 85);
$color_2: #fff;
$color_3: var(--verde);
$color_4: rgba(0, 0, 0, 0.9);
$color_5: rgba(0, 0, 0, 0.55);
$color_6: rgba(0, 0, 0, 0.7);
$color_7: rgba(0, 0, 0, 0.3);
$color_8: rgba(255, 255, 255, 0.55);
$color_9: rgba(255, 255, 255, 0.75);
$color_10: rgba(255, 255, 255, 0.25);
$color_11: white;
$color_12: #27a42f;
$color_13: #119200;
$color_14: #1ed12d;
$color_15: #bb2929;
$font-family_1: var(--sm-font);
$font-family_2: var(--lg-font);
$background-color_1: var(--verde);
$background-color_2: #fff;
$background-color_3: transparent;
$background-color_4: rgba(179, 179, 179, 0.05);
$background-color_5: #000;
$border-color_1: var(--verde);
$border-color_2: rgba(0, 0, 0, 0.1);
$border-color_3: rgba(255, 255, 255, 0.1);
$border-color_4: #fff;
$border-color_5: transparent;
$border-color_6: #000;

@font-face {
	font-family: 'Futura';
	src: url('../fonts/FuturaBT-ExtraBlackItalic.eot');
	src: url('../fonts/FuturaBT-ExtraBlackItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaBT-ExtraBlackItalic.woff2') format('woff2'), url('../fonts/FuturaBT-ExtraBlackItalic.woff') format('woff'), url('../fonts/FuturaBT-ExtraBlackItalic.svg#FuturaBT-ExtraBlackItalic') format('svg');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}
/* button */
/* text color */
/* navbar */
/* header */
/* header2 */
/* header3 */
/* title */
/* Servicios */
/* special */
/* offers */
/* about */
/* newsletter */
/* footer */
/* media queries */
/*servicios */
/* ----- -----  Estilos para Validacion ----- ----- */
/* ----- -----  Estilos para Validacion ----- ----- */
/* ----- -----  Mediaqueries ----- ----- */
&:root {
	--lg-font: 'Futura', serif;
	--sm-font: 'Poppins', sans-serif;
	--verde: rgb(39, 164, 47);
}
body {
	font-family: $font-family_1;
}
.bg-primary {
	background-color: $background-color_1 !important;
}
.btn {
	&:not(.nav-btns {
		button) {
			background-color: $background-color_2;
			color: $color_1;
			padding: 10px 28px;
			border-radius: 25px;
			border: 1px solid rgb(85, 85, 85);
			&:hover {
				background-color: $background-color_1;
				color: $color_2;
				border-color: $border-color_1;
			}
		}
	}
}
.text-primary {
	color: $color_3 !important;
}
.navbar {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	>.container {
		display: flex;
		flex-wrap: inherit;
		align-items: center;
		justify-content: space-between;
	}
	>.container-fluid {
		display: flex;
		flex-wrap: inherit;
		align-items: center;
		justify-content: space-between;
	}
	>.container-sm {
		display: flex;
		flex-wrap: inherit;
		align-items: center;
		justify-content: space-between;
	}
	>.container-md {
		display: flex;
		flex-wrap: inherit;
		align-items: center;
		justify-content: space-between;
	}
	>.container-lg {
		display: flex;
		flex-wrap: inherit;
		align-items: center;
		justify-content: space-between;
	}
	>.container-xl {
		display: flex;
		flex-wrap: inherit;
		align-items: center;
		justify-content: space-between;
	}
	>.container-xxl {
		display: flex;
		flex-wrap: inherit;
		align-items: center;
		justify-content: space-between;
	}
}
@rules {
	0 {
	}
	1 {
	}
}
.navbar-brand {
	img {
		width: 30px;
	}
	span {
		letter-spacing: 2px;
		font-family: $font-family_2;
	}
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	text-decoration: none;
	white-space: nowrap;
}
.nav-link {
	&:hover {
		color: $color_3 !important;
	}
}
.nav-item {
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}
.navbar-nav {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	.nav-link {
		padding-right: 0;
		padding-left: 0;
	}
	.dropdown-menu {
		position: static;
	}
}
.navbar-text {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.navbar-collapse {
	flex-basis: 100%;
	flex-grow: 1;
	align-items: center;
}
.navbar-toggler {
	padding: 0.25rem 0.75rem;
	font-size: 1.25rem;
	line-height: 1;
	background-color: $background-color_3;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	transition: box-shadow 0.15s ease-in-out;
	&:hover {
		text-decoration: none;
	}
	&:focus {
		text-decoration: none;
		outline: 0;
		box-shadow: 0 0 0 0.25rem;
	}
}
.navbar-toggler-icon {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
.navbar-nav-scroll {
	max-height: var(--bs-scroll-height, 75vh);
	overflow-y: auto;
}
.navbar-expand {
	flex-wrap: nowrap;
	justify-content: flex-start;
	.navbar-nav {
		flex-direction: row;
		.dropdown-menu {
			position: absolute;
		}
		.nav-link {
			padding-right: 0.5rem;
			padding-left: 0.5rem;
		}
	}
	.navbar-nav-scroll {
		overflow: visible;
	}
	.navbar-collapse {
		display: flex !important;
		flex-basis: auto;
	}
	.navbar-toggler {
		display: none;
	}
}
.navbar-light {
	.navbar-brand {
		color: $color_4;
		&:hover {
			color: $color_4;
		}
		&:focus {
			color: $color_4;
		}
	}
	.navbar-nav {
		.nav-link {
			color: $color_5;
			&:hover {
				color: $color_6;
			}
			&:focus {
				color: $color_6;
			}
		}
		.nav-link.disabled {
			color: $color_7;
		}
		.show {
			>.nav-link {
				color: $color_4;
			}
		}
		.nav-link.active {
			color: $color_4;
		}
	}
	.navbar-toggler {
		color: $color_5;
		border-color: $border-color_2;
	}
	.navbar-toggler-icon {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
	}
	.navbar-text {
		color: $color_5;
		a {
			color: $color_4;
			&:hover {
				color: $color_4;
			}
			&:focus {
				color: $color_4;
			}
		}
	}
}
.navbar-dark {
	.navbar-brand {
		color: $color_2;
		&:hover {
			color: $color_2;
		}
		&:focus {
			color: $color_2;
		}
	}
	.navbar-nav {
		.nav-link {
			color: $color_8;
			&:hover {
				color: $color_9;
			}
			&:focus {
				color: $color_9;
			}
		}
		.nav-link.disabled {
			color: $color_10;
		}
		.show {
			>.nav-link {
				color: $color_2;
			}
		}
		.nav-link.active {
			color: $color_2;
		}
	}
	.navbar-toggler {
		color: $color_8;
		border-color: $border-color_3;
	}
	.navbar-toggler-icon {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
	}
	.navbar-text {
		color: $color_8;
		a {
			color: $color_2;
			&:hover {
				color: $color_2;
			}
			&:focus {
				color: $color_2;
			}
		}
	}
}
#header {
	background: url(../images/Foto1.jpg) top/cover no-repeat;
}
.carousel-inner {
	h1 {
		font-size: 60px;
		font-family: $font-family_2;
	}
}
.carousel-item {
	.btn {
		border-color: $border-color_4 !important;
		&:hover {
			border-color: $border-color_1 !important;
		}
	}
}
#header2 {
	background: url(../images/Foto99.jpg) top/cover no-repeat;
}
#header3 {
	background: url(../images/Foto10.jpg) top/cover no-repeat;
}
.title {
	h2 {
		&::before {
			position: absolute;
			content: "";
			width: 4px;
			height: 50px;
			background-color: $background-color_1;
			left: -20px;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
		}
	}
}
.active-filter-btn {
	background-color: $background-color_1 !important;
	color: $color_2 !important;
	border-color: $border-color_1 !important;
}
.filter-button-group {
	.btn {
		&:hover {
			color: $color_2 !important;
		}
	}
}
.Servicios-img {
	span {
		top: 20px;
		right: 20px;
		width: 46px;
		height: 46px;
		border-radius: 50%;
	}
}
.special-img {
	span {
		top: 20px;
		right: 20px;
	}
	img {
		-webkit-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	&:hover {
		img {
			-webkit-transform: scale(1.2);
			-ms-transform: scale(1.2);
			transform: scale(1.2);
		}
	}
}
.special-list {
	.btn {
		padding: 8px 20px !important;
	}
}
#offers {
	background: url(../images/basural.png) center/cover no-repeat;
	.row {
		min-height: 130vh;
	}
}
.offers-content {
	span {
		font-size: 28px;
	}
	h2 {
		font-size: 60px;
		font-family: $font-family_2;
	}
	.btn {
		border-color: $border-color_5 !important;
	}
}
#about {
	background-color: $background-color_4;
}
#newsletter {
	background-color: $background-color_4;
	p {
		max-width: 600px;
	}
	.input-group {
		max-width: 500px;
	}
	.form-control {
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.btn {
		background-color: $background-color_1;
		color: $color_2;
		border-color: $border-color_1;
		&:hover {
			background-color: $background-color_5;
			border-color: $border-color_6;
		}
	}
}
footer {
	.brand {
		font-family: $font-family_2;
		letter-spacing: 2px;
	}
	a {
		-webkit-transition: color 0.3s ease;
		-o-transition: color 0.3s ease;
		transition: color 0.3s ease;
		&:hover {
			color: $color_3 !important;
		}
	}
}
#value {
	font-size: 50px;
}
.container {
	.services {
		justify-content: space-around;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		.card {
			width: 330px;
			text-align: center;
			background: rgb(252, 251, 251);
			padding: 20px 15px;
			margin-bottom: 30px;
			border-radius: 10px;
			cursor: pointer;
			transition: 0.3s;
			&:hover {
				background: #27a42f;
				.content {
					transform: scale(1.07);
					.title {
						color: $color_11;
					}
				}
			}
			.content {
				transition: 0.3s;
				.icon {
					padding: 5px 0;
					color: $color_11;
					i {
						font-size: 40px;
					}
				}
				.title {
					padding: 5px 0;
					font-size: 24px;
					font-weight: 500;
					color: $color_12;
					transition: 0.3s;
				}
			}
		}
	}
}
.containervideo {
	margin: 50px auto;
	max-width: 500px;
}
.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}
.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}
.formulario__grupo-input {
	position: relative;
}
.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
	&:focus {
		border: 3px solid #0075FF;
		outline: none;
		box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
	}
}
.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}
.formulario__input-error-activo {
	display: block;
}
.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}
.formulario__checkbox {
	margin-right: 10px;
}
.formulario__grupo-terminos {
	grid-column: span 2;
}
.formulario__mensaje {
	grid-column: span 2;
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
	p {
		margin: 0;
	}
}
.formulario__grupo-btn-enviar {
	grid-column: span 2;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.formulario__mensaje-activo {
	display: block;
}
.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: $color_2;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
	&:hover {
		box-shadow: 3px 0px 30px rgba(163,163,163, 1);
	}
}
.formulario__mensaje-exito {
	font-size: 14px;
	color: $color_13;
	display: none;
}
.formulario__mensaje-exito-activo {
	display: block;
}
.formulario__grupo-correcto {
	.formulario__validacion-estado {
		color: $color_14;
		opacity: 1;
	}
}
.formulario__grupo-incorrecto {
	.formulario__label {
		color: $color_15;
	}
	.formulario__validacion-estado {
		color: $color_15;
		opacity: 1;
	}
	.formulario__input {
		border: 3px solid #bb2929;
	}
}
@media (prefers-reduced-motion: reduce) {
	.navbar-toggler {
		transition: none;
	}
}
@media (min-width: 576px) {
	.navbar-expand-sm {
		flex-wrap: nowrap;
		justify-content: flex-start;
		.navbar-nav {
			flex-direction: row;
			.dropdown-menu {
				position: absolute;
			}
			.nav-link {
				padding-right: 0.5rem;
				padding-left: 0.5rem;
			}
		}
		.navbar-nav-scroll {
			overflow: visible;
		}
		.navbar-collapse {
			display: flex !important;
			flex-basis: auto;
		}
		.navbar-toggler {
			display: none;
		}
	}
}
@media (min-width: 768px) {
	.navbar-expand-md {
		flex-wrap: nowrap;
		justify-content: flex-start;
		.navbar-nav {
			flex-direction: row;
			.dropdown-menu {
				position: absolute;
			}
			.nav-link {
				padding-right: 0.5rem;
				padding-left: 0.5rem;
			}
		}
		.navbar-nav-scroll {
			overflow: visible;
		}
		.navbar-collapse {
			display: flex !important;
			flex-basis: auto;
		}
		.navbar-toggler {
			display: none;
		}
	}
}
@media (min-width: 992px) {
	.navbar-expand-lg {
		flex-wrap: nowrap;
		justify-content: flex-start;
		.navbar-nav {
			flex-direction: row;
			.dropdown-menu {
				position: absolute;
			}
			.nav-link {
				padding-right: 0.5rem;
				padding-left: 0.5rem;
			}
		}
		.navbar-nav-scroll {
			overflow: visible;
		}
		.navbar-collapse {
			display: flex !important;
			flex-basis: auto;
		}
		.navbar-toggler {
			display: none;
		}
	}
}
@media (min-width: 1200px) {
	.navbar-expand-xl {
		flex-wrap: nowrap;
		justify-content: flex-start;
		.navbar-nav {
			flex-direction: row;
			.dropdown-menu {
				position: absolute;
			}
			.nav-link {
				padding-right: 0.5rem;
				padding-left: 0.5rem;
			}
		}
		.navbar-nav-scroll {
			overflow: visible;
		}
		.navbar-collapse {
			display: flex !important;
			flex-basis: auto;
		}
		.navbar-toggler {
			display: none;
		}
	}
}
@media (min-width: 1400px) {
	.navbar-expand-xxl {
		flex-wrap: nowrap;
		justify-content: flex-start;
		.navbar-nav {
			flex-direction: row;
			.dropdown-menu {
				position: absolute;
			}
			.nav-link {
				padding-right: 0.5rem;
				padding-left: 0.5rem;
			}
		}
		.navbar-nav-scroll {
			overflow: visible;
		}
		.navbar-collapse {
			display: flex !important;
			flex-basis: auto;
		}
		.navbar-toggler {
			display: none;
		}
	}
}
@media min-width: 992px) {
	.nav-item {
		border-bottom: none;
	}
}
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}
	.formulario__grupo-terminos {
		grid-column: 1;
	}
	.formulario__mensaje {
		grid-column: 1;
	}
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}
	.formulario__btn {
		width: 100%;
	}
}